# This project is used as a recreation of the popular SLAM software but converted into Java from its original Visual Basic .NET format.

## Components
- [] GUI
- [] Logic
- [x] SourceGame Class
- [x] Track Class

# Private Sub WaveCreator(File As String, outputFile As String, Game As SourceGame)
# Private Sub FFMPEG_WaveCreator(File As String, outputFile As String, Game As SourceGame)
# Private Sub FFMPEG_ConvertAndTrim(inpath As String, outpath As String, samplerate As Integer, channels As Integer, starttrim As Double, length As Double, volume As Double)
# Private Sub GameSelector_SelectedIndexChanged(sender As Object, e As EventArgs) Handles GameSelector.SelectedIndexChanged
